In [1]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[1.0,2.0,3.0]})
df1 = df1.set_index('A')
df1['C'] = 0
df2 = pd.DataFrame({'A':[2,3], 'C':['Y','Z']})
df2 = df2.set_index('A')
df1.update(df2)
df1

     B  C
A
1  1.0  0
2  2.0  Y
3  3.0  Z

In [14]:
df1[df1['B'].isin([2,3])]

     B  C
A
2  2.0  Y
3  3.0  Z